#film-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-submit-indicator,
.remove-film-indicator,
.edit-film-indicator {
  display: none;
  vertical-align: middle;
}

.htmx-request .form-submit-indicator,
.htmx-request .remove-film-indicator,
.htmx-request .edit-film-indicator {
  display: inline-block;
}

.htmx-request.form-submit-indicator,
.htmx-request.remove-film-indicator 
.htmx-request.edit-film-indicator {
  display: inline-block;
}

.edit-film div {
  display: inline-block;
}